.env
__pycache__/
old-iraq-number-plate/
lp-iraq/
iraqi-license-plates-bqadd/
yolov7-license-plate-detection/
project-anpr-bv7nb/
yolov8_compiled_dataset/
yolo_reduced_dataset/
license-plate-recognition-rxg4e/